@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');



*{
padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Inter, Roboto, Oxygen, Fira Sans, Helvetica Neue, sans-serif;
    background: rgba(95, 158, 160, 0.44);
}

.container{
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
input{
    padding: 10px;
    width: 100%;
}
h1{
    margin: 10px;
}
.btn{
    padding: 10px;
}
.card{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}